<!DOCTYPE html>
<html>
  <head dir="rtl">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title> {% if page.title %} {{ page.title }} | {% endif %} كهربائيات وإلكترونيات الضياء </title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />
  </head>

  <body>
    <div id="main">

        <header>
            <h1>الضياء للكهربائيات</h1>
			<h3>(الموقع قيد التطوير)</h3>
        </header>
		<div dir="RTL">
			<ul id="nav">
				<li><a href="{{ site.baseurl }}/">الرئيسية</a></li>
				<li><a href="{{ site.baseurl }}/portfolio/">المنتجات</a></li>
				<li><a href="{{ site.baseurl }}/contact">إتصل بنا</a></li>
				
			</ul>
        </nav>
		</div>
        {{ content }}
		{% include google_analytics.html %}

        <footer>
            
        </footer>
    </div>
  </body>
</html>
